In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [22]:
df = pd.read_csv('/content/Decision_tree_Data.csv')

In [23]:
df.shape

(1000, 6)

In [24]:
df.head()

   initial_payment  Last_Payment  Credit_Score  House_Number    sum Results
0              201         10018           250          3046  13515     yes
1              205         10016           395          3044  13660     yes
2              257         10129           109          3251  13746     yes
3              246         10064           324          3137  13771     yes
4              117         10115           496          3094  13822     yes

In [26]:
df.isnull().sum()

initial_payment    0
Last_Payment       0
Credit_Score       0
House_Number       0
sum                0
Results            0
dtype: int64

In [27]:
print(len(df))

1000

In [32]:
data=df.drop(['sum'], axis=1)

In [33]:
data.shape

(1000, 5)

In [34]:
data.head()

   initial_payment  Last_Payment  Credit_Score  House_Number Results
0              201         10018           250          3046     yes
1              205         10016           395          3044     yes
2              257         10129           109          3251     yes
3              246         10064           324          3137     yes
4              117         10115           496          3094     yes

In [54]:
# Seperating the target variable
X = data.values[:, 0:4]
Y = data.values[:,-1]

In [48]:
X.shape

(1000, 4)

In [55]:
Y.shape

(1000,)

In [80]:
# Spliting data into test and train
X_train, X_test, y_train, y_test= train_test_split( X, Y, test_size=0.3, random_state=100)

In [81]:
# Function to perform training with entropy
clf_entropy= DecisionTreeClassifier(criterion = "entropy", random_state= 100, max_depth=3, min_samples_leaf=5)
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

In [82]:
# Function to make prediction
y_pred_en= clf_entropy.predict(X_test)
print(y_pred_en)

['yes' 'yes' 'No' 'yes' 'No' 'yes' 'yes' 'yes' 'No' 'No' 'No' 'No' 'yes'
 'No' 'No' 'yes' 'yes' 'No' 'yes' 'No' 'No' 'yes' 'No' 'yes' 'yes' 'No'
 'No' 'yes' 'No' 'No' 'No' 'yes' 'yes' 'yes' 'yes' 'No' 'No' 'No' 'yes'
 'No' 'yes' 'yes' 'yes' 'No' 'No' 'yes' 'yes' 'yes' 'No' 'No' 'yes' 'No'
 'yes' 'yes' 'yes' 'yes' 'No' 'yes' 'No' 'yes' 'yes' 'No' 'yes' 'yes' 'No'
 'yes' 'yes' 'yes' 'No' 'No' 'No' 'No' 'No' 'yes' 'No' 'yes' 'yes' 'No'
 'yes' 'No' 'No' 'No' 'No' 'yes' 'No' 'yes' 'No' 'yes' 'yes' 'No' 'yes'
 'yes' 'yes' 'yes' 'yes' 'No' 'yes' 'yes' 'yes' 'yes' 'No' 'No' 'yes'
 'yes' 'No' 'yes' 'yes' 'yes' 'No' 'yes' 'yes' 'yes' 'yes' 'No' 'No' 'yes'
 'yes' 'yes' 'No' 'No' 'No' 'No' 'yes' 'yes' 'No' 'yes' 'yes' 'yes' 'No'
 'No' 'yes' 'yes' 'No' 'yes' 'yes' 'yes' 'No' 'yes' 'yes' 'No' 'No' 'yes'
 'yes' 'yes' 'No' 'yes' 'yes' 'yes' 'yes' 'No' 'yes' 'No' 'No' 'No' 'No'
 'yes' 'No' 'No' 'No' 'yes' 'yes' 'No' 'yes' 'yes' 'No' 'yes' 'No' 'yes'
 'No' 'No' 'yes' 'yes' 'No' 'yes' 'No' 'yes' 'yes' 'No' 'No' 'No' 'No'
 'No' 'yes' 'No' 'No' 'yes' 'yes' 'yes' 'yes' 'yes' 'No' 'yes' 'No' 'yes'
 'No' 'No' 'No' 'yes' 'yes' 'No' 'No' 'No' 'yes' 'yes' 'No' 'No' 'yes'
 'yes' 'No' 'No' 'yes' 'yes' 'yes' 'yes' 'yes' 'yes' 'yes' 'yes' 'yes'
 'No' 'yes' 'yes' 'No' 'No' 'yes' 'No' 'yes' 'yes' 'No' 'No' 'yes' 'No'
 'yes' 'yes' 'yes' 'yes' 'No' 'No' 'No' 'No' 'yes' 'yes' 'No' 'yes' 'yes'
 'No' 'yes' 'No' 'No' 'No' 'No' 'yes' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'yes' 'yes' 'yes' 'yes' 'yes' 'yes' 'No' 'No' 'No' 'No' 'yes' 'No' 'yes'
 'yes' 'yes' 'No' 'No' 'No' 'No' 'yes' 'No' 'yes' 'No' 'No' 'No' 'yes'
 'yes' 'No' 'yes' 'yes' 'yes' 'No' 'No' 'yes' 'No' 'yes' 'yes' 'No' 'No'
 'yes' 'yes']

In [83]:
# checking Accuracy
print('Accuracy is', accuracy_score(y_test,y_pred_en)*100)

Accuracy is 93.66666666666667

In [84]:
y_pred_en= pd.DataFrame(y_pred_en, columns=['y_pred_en']).to_csv('data1.csv')